/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
  }
  
  /* For Chrome, Safari, and Opera */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  